/* 默认卡片颜色 */
.ant-card {
    border-radius: 1em;
    background-color: rgb(234, 235, 241);
}

.checked {
    border-radius: 1em;
    background-color: beige;
}

.ant-card .ant-card-head {
    font-size: large;
    font-weight: 600;
}

.ant-image {
    width: 600px;
}

/* 复制板式样 */
.clipy {
    display: inline-block;
    text-align: center;
    background-color: #e2e5e7;
    border-radius: 3px;
}

.clipy:hover {
    color: #C20C0C;
}